<footer class="footer-new">
    <div class="footer-tp">
        <div class="logo">freshschool</div>
        <div class="footer-01">
           <div>our services</div>
           <div>IT lecture</div>
           <div>Adult college</div>
           <div>Music school</div>
        </div>
    </div>
</footer>