<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container-1">
        <header>
            <nav>
                <div class="logo">freshschool</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/category">category</a></li>
                    <li><a href="/stud">contact</a></li>
                    <li><a href="/students">students</a></li>
                </ul>
            </nav>
        </header>



    
<footer class="footer-new">
    <div class="footer-tp">
        <div class="logo">freshschool</div>
        <div class="footer-col">
           <div>our services</div>
           <div>IT lecture</div>
           <div>Adult college</div>
           <div>Music school</div>
        </div>
    </div>
</footer>

 </div>
</body>
</html>